
    
    @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

    body {
        margin: 0;
        padding: 0;
        background-color: var(--cor-fundo);
        font-family: Poppins, Roboto, Helvetica, Arial, sans-serif !important;
        font-weight: 300;
        font-size: 16px;
        overflow-x: hidden;
    }

    .text-content {
        font-size: inherit; 
    }

    /* TEMA LIGHT */
    :root, :root[data-theme='dark'] {
        ----cor-principal: #2e6b73;
        --cor-secundaria: #FFC107; 
        --cor-terciaria: #f3f3f3; 
        --cor-fundo: #FFFFFF; 
        --cor-fundo-maisclaro: #ffffff;
        --cor-preto-light: #000000; 
        --cor-branco-light: #ffffff; 
        --cor-sombra-preta-light: rgba(0, 0, 0, 0.05);
    }
    /* TEMA DARK */
    :root[data-theme='light'] {
        ----cor-principal: #2e6b73;
        --cor-secundaria: #FFC107;
        --cor-terciaria: #a0a0a0;
        --cor-fundo: #2f2f2f; 
        --cor-fundo-maisclaro: #555555;
        --cor-preto-light: #ffffff; 
        --cor-branco-light: #000000; 
        --cor-sombra-preta-light: rgba(255, 255, 255, 0.05);
    }

    /* ---------- NAVBAR ---------- */

   @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

   .bg-light {
       box-shadow: 0 4px 6px var(--cor-sombra-preta-light);
       background-color: var(--cor-fundo) !important;
   }

   .rowNavbar {
       height: 10vh;
       box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
   }

   .colLogo {
       display: flex;
       align-items: center;
       padding-left: 3%;
   }

   .colLogo img {
       width: 180px;
   }

   .nav-link {
       color: var(--cor-preto-light) !important;
       transition: color 0.3s ease;
   }

   .nav-link:hover {
       color: var(----cor-principal);
   }

   .buttonContatos {
       border: 1px solid var(----cor-principal);
       background: transparent;
       color: var(----cor-principal);
       padding: 8px 16px;
       font-size: 15px;
       text-align: center;
       transition: background-color 0.3s;
       width: 180px;
       border-radius: 10px !important;
   }

   .buttonContatos:hover {
       background-color: #bce2e747;
       color: var(----cor-principal);
       text-decoration: none;
   }

   .buttonPerfil{
       color: #fff;
       background-color: var(----cor-principal);
       padding: 8px 16px;
       font-size: 15px;
       border: none;
       text-align: center;
       width: 150px;
       border-radius: 10px !important;
   }

   .buttonPerfil:hover{
        text-decoration: none;
        color: #fff;
        background-color: var(----cor-principal);
        padding: 8px 16px;
        font-size: 15px;
        border: none;
        text-align: center;
        width: 150px;
   }

   #toggleTheme{
        color: var(----cor-principal);
        font-size: 1.4rem;
        margin-left: 1%;
        cursor: pointer;
   }

   .dropdown-menu{
        width: 20%;
        height: 40vh;
        left: 78%;
        background-color: var(--cor-fundo) !important;
        cursor: pointer;
   }

   .header-toggle{
        border: 1px solid var(----cor-principal);
        color: var(----cor-principal);
        padding: 5%;
        margin: 5% 5% 0% 5%;
        text-align: center;
   }

   .header-toggle span{
        color: var(----cor-principal);
    }


   .navbar-toggler {
       border: none; 
       padding: 0; 
   }

   .navbar-toggler:focus {
       outline: none; 
   }

   .navbar-toggler-icon {
       width: 30px; 
       height: 2px; 
       background-color: transparent; 
   }

   .navbar-toggler:before,
   .navbar-toggler:after,
   .navbar-toggler span {
       content: '';
       display: block;
       width: 30px; 
       height: 2px; 
       background-color: var(----cor-principal); 
       margin: 6px auto;
   }

   
   /* Para tablets */
   @media (max-width: 1100px) {
       .navbar-nav {
           align-items: center; 
           display: flex;
           justify-content: center;
       }

       .buttonExtras {
           position: absolute; 
       }

       .colLogo {
           display: flex;
           align-items: center;
           padding-left: 30%;
       }

       .buttonContatos {
           width: 200px;
           border: 1px solid var(----cor-principal);
           background: transparent;
           color: var(----cor-principal);
           padding: 8px 16px;
           font-size: 15px;
           text-align: center;
           transition: background-color 0.3s;
           margin-top: 2.5%;
           border-radius: 10px;
       }

       .buttonContatos:hover {
           background-color: var(----cor-principal);
           color: var(--cor-branco-light);
       }

       .buttonPerfil {
           width: 200px;
           color: var(--cor-branco-light);
           background-color: var(----cor-principal);
           padding: 8px 16px;
           font-size: 15px;
           border: none;
           text-align: center;
           margin-left: -1%;
           margin-top: 2.5%;
           margin-bottom: 5%;
           border-radius: 10px;
       }

       #toggleTheme{
        color: var(----cor-principal);
        font-size: 1.4rem;
        cursor: pointer;
        margin-right: 50%;
        margin-top: -7%;
        z-index: 1000;
      }
   }

   /* Para dispositivos móveis */
   @media (max-width: 576px) {
       .navbar-nav {
           align-items: center; 
           display: flex;
           justify-content: center;
       }

       .buttonExtras {
           position: absolute; 
       }

       .colLogo {
           display: flex;
           align-items: center;
           padding-left: 30%;
       }

       .buttonContatos {
           width: 200px;
           border: 1px solid var(----cor-principal);
           background: transparent;
           color: var(----cor-principal);
           padding: 8px 16px;
           font-size: 15px;
           text-align: center;
           transition: background-color 0.3s;
           margin-top: 2.5%;
           border-radius: 10px;
       }

       .buttonContatos:hover {
           background-color: var(----cor-principal);
           color: var(--cor-branco-light);
       }

       .buttonPerfil {
           width: 200px;
           color: var(--cor-branco-light);
           background-color: var(----cor-principal);
           padding: 8px 16px;
           font-size: 15px;
           border: none;
           text-align: center;
           margin-left: -1%;
           margin-top: 2.5%;
           margin-bottom: 5%;
           border-radius: 10px;
       }

       #toggleTheme{
            color: var(----cor-principal);
            font-size: 1.4rem;
            cursor: pointer;
            margin-right: 50%;
            margin-top: -10%;
            z-index: 1000;
        }
   }

   
   
    /* ---------- FIM NAVBAR ---------- */

    /* ---------- ALTERAR FONTE --------------- */

    .fixed-button {
        position: fixed;
        top: 35%;
        right: 0;
        transform: translateY(-50%);
        z-index: 800;
        padding: 8px 3px;
        background-color: #ffffff;
        border-radius: 5px 0 0 5px;
        text-decoration: none;
        font-size: 15px;
        transition: background-color 0.3s;
        cursor: pointer;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
         }
    
    .fixed-button button{
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    /* ---------- FIM ALTERAR FONTE --------------- */



    /* ---------- CONTEÚDO --------------- */
      
    .contact-bg {
        height: 40vh;
        background: var(----cor-principal);
        text-align: center;
        color: var(--cor-branco-light);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contact-bg h3 {
        font-size: 1.3rem;
        font-weight: 400;
    }

    .contact-bg h2 {
        font-size: 2rem;
        padding: 0.4rem 0;
        letter-spacing: 4px;
        margin-top: -5%;
        font-family: Arial, Helvetica, sans-serif;
    }

    .contact-container {
        position: relative;
        padding: 2.5% 0%;
        justify-content: space-between;
        max-width: 1200px;
        margin: -10vh auto 0; 
        z-index: 1; 
        background-color: var(--cor-fundo);
        border-radius: 8px; 
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); 
    }

    .contact-container h2{
        font-size: 1.7rem;
        color: var(----cor-principal);
    }

    .contact-container button{
        width: 100%;
        background-color: var(----cor-principal);
        border: none;
        padding: 1.5%;
        color: var(--cor-branco-light);
        border-radius: 20px;
    }

    .contact-container select{
        border-radius: 20px;
        padding: 3%;
        color: #6e6e6e;
        font-size: 15px;
        width: 100%;
    }

    .row-fimServicos h1{
        font-size: 1.5rem;
    }

    .row-fimServicos a{
        background-color: var(--cor-branco-light);
        border: 2px solid var(----cor-principal);
        padding: 1% 5%;
        font-weight: 400;
        text-decoration: none;
        color: var(----cor-principal);
        border-radius: 20px;
    }

    .contact-container-fim{
        position: relative;
        padding: 2.5% 0%;
        justify-content: space-between;
        max-width: 1200px;
        margin: -10vh auto 0; 
        z-index: 1; 
        background-color: var(--cor-fundo);
        border-radius: 8px; 
    }

    /* ---- arquivos ---- */
    /* Esconde o input original */
    input[type="file"] {
        display: none;
    }

    /* Estilização do container do input */
    .file-input {
        border: 2px dashed var(----cor-principal);
        border-radius: 10px;
        padding: 30px;
        text-align: center;
        transition: all 0.3s ease;
        position: relative;
        cursor: pointer;
        background-color: #f9f9f9;
    }

    .file-input:hover {
        background-color: #e9f7ff;
        border-color: var(----cor-principal);
    }

    /* Ícone no centro */
    .file-input i {
        font-size: 2rem;
        color: var(----cor-principal);
        display: block;
        margin-bottom: 10px;
    }

    /* Texto de arraste */
    .file-input p {
        font-size: 0.9rem;
        color: #2e6b73be;
        margin: 0;
    }

    /* Feedback ao focar no input */
    .file-input:focus-within {
        background-color: #e3f2fd;
        outline: none;
        border-color: var(----cor-principal);
        box-shadow: 0 0 5px var(----cor-principal);
    }




    @media (max-width: 768px) {
        .contact-container {
          flex-direction: column; 
          gap: 30px; 
        }

        .social-icons{
            justify-content: center;
            align-items: center;
            text-align: center ;
        }


        .info-text{
            width: 100%;
        }
        
        .contact-info{
            justify-content: center;
            align-items: center;
            text-align: center ;
            
        }
      
        .contact-info,
        .contact-form {
          flex: none; 
          width: 100%;
        }
      }

    
    @media screen and (min-width: 992px) {
        .contact-form {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            align-items: center;
        }
    }
    


    
