
    
    @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

    body {
        margin: 0;
        padding: 0;
        background-color: var(--cor-fundo);
        font-family: Poppins, Roboto, Helvetica, Arial, sans-serif !important;
        font-weight: 300;
        font-size: 16px;
        overflow-x: hidden;
    }

    .text-content {
        font-size: inherit; 
    }

    /* TEMA LIGHT */
    :root, :root[data-theme='dark'] {
        ----cor-principal: #2e6b73;
        --cor-secundaria: #FFC107; 
        --cor-terciaria: #6C757D; 
        --cor-fundo: #FFFFFF; 
        --cor-fundo-maisclaro: #ffffff;
        --cor-preto-light: #000000; 
        --cor-branco-light: #ffffff; 
        --cor-sombra-preta-light: rgba(0, 0, 0, 0.05);
    }
    /* TEMA DARK */
    :root[data-theme='light'] {
        ----cor-principal: #2e6b73;
        --cor-secundaria: #FFC107;
        --cor-terciaria: #6C757D;
        --cor-fundo: #2f2f2f; 
        --cor-fundo-maisclaro: #555555;
        --cor-preto-light: #ffffff; 
        --cor-branco-light: #000000; 
        --cor-sombra-preta-light: rgba(255, 255, 255, 0.05);
    }

    /* ---------- NAVBAR ---------- */

   @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

   .bg-light {
       box-shadow: 0 4px 6px var(--cor-sombra-preta-light);
       background-color: var(--cor-fundo) !important;
   }

   .rowNavbar {
       height: 10vh;
       box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
   }

   .colLogo {
       display: flex;
       align-items: center;
       padding-left: 3%;
   }

   .colLogo img {
       width: 180px;
   }

   .nav-link {
       color: var(--cor-preto-light) !important;
       transition: color 0.3s ease;
   }

   .nav-link:hover {
       color: var(----cor-principal);
   }

   .buttonContatos {
       border: 1px solid var(----cor-principal);
       background: transparent;
       color: var(----cor-principal);
       padding: 8px 16px;
       font-size: 15px;
       text-align: center;
       transition: background-color 0.3s;
       width: 180px;
       border-radius: 10px !important;
   }

   .buttonContatos:hover {
       background-color: #bce2e747;
       color: var(----cor-principal);
       text-decoration: none;
   }

   .buttonPerfil{
       color: #fff;
       background-color: var(----cor-principal);
       padding: 8px 16px;
       font-size: 15px;
       border: none;
       text-align: center;
       width: 150px;
       border-radius: 10px !important;
   }

   .buttonPerfil:hover{
        text-decoration: none;
        color: #fff;
        background-color: var(----cor-principal);
        padding: 8px 16px;
        font-size: 15px;
        border: none;
        text-align: center;
        width: 150px;
   }

   #toggleTheme{
        color: var(----cor-principal);
        font-size: 1.4rem;
        margin-left: 1%;
        cursor: pointer;
   }



   .header-toggle{
        border: 1px solid var(----cor-principal);
        color: var(----cor-principal);
        padding: 5%;
        margin: 5% 5% 0% 5%;
        text-align: center;
   }

   .header-toggle span{
        color: var(----cor-principal);
    }


   .navbar-toggler {
       border: none; 
       padding: 0; 
   }

   .navbar-toggler:focus {
       outline: none; 
   }

   .navbar-toggler-icon {
       width: 30px; 
       height: 2px; 
       background-color: transparent; 
   }

   .navbar-toggler:before,
   .navbar-toggler:after,
   .navbar-toggler span {
       content: '';
       display: block;
       width: 30px; 
       height: 2px; 
       background-color: var(----cor-principal); 
       margin: 6px auto;
   }

   
   /* Para tablets */
   @media (max-width: 1100px) {
       .navbar-nav {
           align-items: center; 
           display: flex;
           justify-content: center;
       }

       .buttonExtras {
           position: absolute; 
       }

       .colLogo {
           display: flex;
           align-items: center;
           padding-left: 30%;
       }

       .buttonContatos {
           width: 200px;
           border: 1px solid var(----cor-principal);
           background: transparent;
           color: var(----cor-principal);
           padding: 8px 16px;
           font-size: 15px;
           text-align: center;
           transition: background-color 0.3s;
           margin-top: 2.5%;
           border-radius: 10px;
       }

       .buttonContatos:hover {
           background-color: var(----cor-principal);
           color: var(--cor-branco-light);
       }

       .buttonPerfil {
           width: 200px;
           color: var(--cor-branco-light);
           background-color: var(----cor-principal);
           padding: 8px 16px;
           font-size: 15px;
           border: none;
           text-align: center;
           margin-left: -1%;
           margin-top: 2.5%;
           margin-bottom: 5%;
           border-radius: 10px;
       }

       #toggleTheme{
        color: var(----cor-principal);
        font-size: 1.4rem;
        cursor: pointer;
        margin-right: 50%;
        margin-top: -7%;
        z-index: 1000;
      }
   }

   /* Para dispositivos móveis */
   @media (max-width: 576px) {
       .navbar-nav {
           align-items: center; 
           display: flex;
           justify-content: center;
       }

       .buttonExtras {
           position: absolute; 
       }

       .colLogo {
           display: flex;
           align-items: center;
           padding-left: 30%;
       }

       .buttonContatos {
           width: 200px;
           border: 1px solid var(----cor-principal);
           background: transparent;
           color: var(----cor-principal);
           padding: 8px 16px;
           font-size: 15px;
           text-align: center;
           transition: background-color 0.3s;
           margin-top: 2.5%;
           border-radius: 10px;
       }

       .buttonContatos:hover {
           background-color: var(----cor-principal);
           color: var(--cor-branco-light);
       }

       .buttonPerfil {
           width: 200px;
           color: var(--cor-branco-light);
           background-color: var(----cor-principal);
           padding: 8px 16px;
           font-size: 15px;
           border: none;
           text-align: center;
           margin-left: -1%;
           margin-top: 2.5%;
           margin-bottom: 5%;
           border-radius: 10px;
       }

       #toggleTheme{
            color: var(----cor-principal);
            font-size: 1.4rem;
            cursor: pointer;
            margin-right: 50%;
            margin-top: -10%;
            z-index: 1000;
        }
   }
   
    /* ---------- FIM NAVBAR ---------- */


    /* ---------- ALTERAR FONTE --------------- */

    .fixed-button {
        position: fixed;
        top: 35%;
        right: 0;
        transform: translateY(-50%);
        z-index: 800;
        padding: 8px 3px;
        background-color: #2e6b735b;
        border-radius: 5px 0 0 5px;
        text-decoration: none;
        font-size: 15px;
        transition: background-color 0.3s;
        cursor: pointer;
    }
    
    .fixed-button button{
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    /* ---------- FIM ALTERAR FONTE --------------- */


    /* ---------- CONTAINER BANNER ----------- */

    .container-banner {
        position: relative;
        z-index: 800;
        height: auto;
        min-height: 100vh;
        background: linear-gradient(135deg, #2c585f, var(----cor-principal) 60%, #5cb0b2 100%);
    }

    .container-banner svg {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
    }

    .rowBanner{
        padding: 10% 15% 2.5% 15%;
    }

    .colBanner{
        padding: 5% 0%;
        height: auto;
        z-index: 1000;
        text-align: center;
    }

    .colBanner a{
        text-decoration: none;
        color: var(----cor-principal);
        background-color: var(--cor-branco-light);
        padding: 2% 3.5%;
        border-radius: 40px;
        margin-top: 5%;
    }


    .colBanner h2{
        font-size: 2.75rem;
        line-height: 1.25;
        color: var(--cor-branco-light) ;
        margin-top: -10%;
    }

    .colBanner p{
        font-size: 1.2rem;
        line-height: 1.25;
        color: var(--cor-branco-light) ;
        font-weight: 400;
        margin-top: 5%;
    }

    .colBanner input{
        padding: 4% 15%;
        border-radius: 2.5px;
        border: none;
        font-size: 1rem;
        text-align: left;
        background-color: var(--cor-fundo-maisclaro) ;
        color: var(--cor-preto-light);
        font-weight: bold;
    }

    .colBanner .buttonConecta{
        padding: 4% 15%;
        margin-left: 0%;
        background-color: #FDB92E;
        border-radius: 2.5px;
        border: none;
        color: var(--cor-branco-light) ;
        cursor: pointer;
    }

    .colVideoBanner{
        justify-content: center;
        align-items: center;
        display: flex;
    }

    .video-embed {
        width: 100%;
        height: 380px;
        border-radius: 10px;
        margin-bottom: 20%;
    }

    video::-webkit-media-controls-play-button,
    video::-webkit-media-controls-pause-button {
        display: block;
    }

    video::-webkit-media-controls {
        opacity: 1 !important;
    }

    video::-webkit-media-controls-panel,
    video::-webkit-media-controls-overlay-enclosure {
        display: none !important;
    }


    
    /* ---------- FIM CONTAINER BANNER ----------- */


    





/* Estilização das colunas de cards */

/* botão filtos */
.dropdown-menu{
    padding: 5% 5% 10% 5%;
    background-color: var(--cor-fundo-maisclaro);
}

.form-select{
    padding: 5%;
    border: 1px solid #ffff;
    color: #fff;
    background-color: var(----cor-principal);
    border-radius: 20px;
    margin-top: 10%;
    cursor: pointer;
}
/* fim botão filtros */

.rowCards-equipe .col-12{
    padding: 0% 5%;
}

.colCards-equipe {
    padding: 3% 3.5% 3% 2%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.colCards-equipe a{
    text-decoration: none;
}

/* Estilização dos cards */
.divCards-equipe {
    width: 100%;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 35px;
    padding: 15px;
    height: auto;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease;
}

.divCards-equipe:hover {
    transform: scale(1.05);
}

.card-header {
    background-color: #fff;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.card-header img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 15px;
}

.card-info h1 {
    font-size: 18px;
    margin: 0;
}

.card-info p {
    font-size: 14px;
    margin: 5px 0 0;
}

.card-text {
    font-size: 14px;
    margin-bottom: 15px;
}

.divCards-equipe button {
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background-color: var(----cor-principal);
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


/* Estilização da coluna de filtragem */
.colFiltragem-equipe {
    padding: 3% 0% 3% 3%;
}

/* Estilização da div de filtragem */
.divFiltragemUm-equipe {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    padding: 20px;
    min-height: 37.5vh;
}

.divFiltragemUm-equipe h1 {
    font-size: 20px;
}

.divFiltragemUm-equipe p {
    font-size: 14px;
}

/* Estilização dos checkboxes */
.checkbox-container {
    display: flex;
    flex-direction: column;
}

.checkbox-container label {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
}

.checkbox-container .icon {
    margin-right: 10px;
    font-size: 20px;
}

.checkbox-container input[type="checkbox"] {
    margin-left: 10px;
}

.align-items-center h2{
    color: var(--cor-preto-light);
}


hr {
    border: 0;
    height: 1px;
    background-color: #ddd;
    margin: 10px 0;
}

.tituloCards-equipe{
    display: flex;
    margin-top: 5%;
}

.tituloCards-equipe h1{
    font-size: 28px;
    margin-left: 2%;
    margin-right: 70%;
    color: var(--cor-preto-light);
}

.tituloCards-equipe .btn-filtrar{
    border: 1px solid var(----cor-principal);
    padding: 5% 5%;
    width: 150px;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 30px;
    color: var(----cor-principal);
    display: flex;
    cursor: pointer;
    background-color: transparent;
    right: 0;
}

.text-end{
    position: absolute; 
    z-index: 500;
    right: 0;
    top: 50%; 
    transform: translateY(-50%);
}

.row-cards {
    margin-bottom: 15%;
    position: relative; /* para que o dropdown se posicione em relação a esta div */
    z-index: 100;
}


 .card {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: relative;
    width: 350px;
    height: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    background: var(--cor-fundo-maisclaro);
    color: var(--cor-preto-light);
    z-index: 500;
  }

  .card:hover {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: relative;
    width: 350px;
    height: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    background: var(--cor-fundo-maisclaro);
    color: var(--cor-preto-light);
    z-index: 500;
  }

  
  .card__img {
    height: 80px;
    width: 100%;
  }
  
  .card__img svg {
    height: 90%;
    border-radius: 20px 20px 0 0;
  }
  
  .card__avatar {
    position: absolute;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: calc(35% - 57px);
    z-index: 500;
  }
  
  .card__avatar svg {
    width: 100px;
    height: 100px;
  }

  .card__avatar img{
    width: 30%;
    border-radius: 50px;
  }
  
  .card__title {
    margin-top: 50px;
    font-weight: 500;
    font-size: 18px;
    color: var(--main-color);
  }
  
  .card__subtitle {
    font-weight: 400;
    font-size: 15px;
    color: var(--submain-color);
  }
  
  .card__arrow {
    position: absolute;
    background: var(----cor-principal);
    padding: 0.5rem;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    bottom: 0;
    right: 0;
    transition: 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .card__arrow svg {
    transition: 0.2s;
  }
  
  .card:hover .card__arrow {
    background: #2e6b73a1;
  }
  
  .card:hover .card__arrow svg {
    transform: translateX(3px);
  }











































/* filtros */
.filter-card {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    width: 250px;
    height: 500px; /* Altura máxima do card */
    margin-left: -12%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.filter-card h2 {
    margin: 0 0 15px;
    font-size: 1.5em;
    color: #333;
}


.checkbox-container input {
    margin-right: 10px;
    vertical-align: middle; /* Alinha o checkbox com o texto */
}

.checkbox-container label {
    cursor: pointer;
    display: inline-block; /* Mantém o rótulo na mesma linha do checkbox */
    padding: 8px 0;
    transition: background-color 0.2s;
}

.checkbox-container label:hover {
    background-color: #4d767b;
    border-radius: 5px;
}
/* fim de filtros */






/* ---------------- DISPOSITIVOS MOVEIS ------------------- */
/* Para Tablets */
@media (max-width: 1000px) {
   .rowCards-equipe{
        margin-top: 30%;
   }

   .tituloCards-equipe{
        padding: 0% 50%;
        margin-bottom: 10%;
   }

   .text-end{
        margin-right: 10%;
   }

   .colBanner .buttonConecta{
        padding: 4% 15%;
        margin-left: 10%;
        background-color: #FDB92E;
        border-radius: 2.5px;
        border: none;
        color: var(--cor-branco-light) ;
        cursor: pointer;
    }

    .colBanner{
        padding: 5% 0%;
        height: auto;
        z-index: 1000;
        margin-top: 15%;
    }


    .dropdownFiltro {
        position: fixed; /* permite posicioná-lo sobre os outros elementos */
        top: 0; /* posiciona no topo de .row-cards */
        background-color: var(--cor-fundo) !important;
        padding: 5% 15% 15% 15%;
        width: 300px;
        margin-bottom: -50%;
        margin-right: 80%;
        z-index: 2000;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* para dar destaque */
    }
}


/* Para dispositivos móveis */
@media (max-width: 576px) {

    .rowCards-equipe{
         margin-top: 50%;
    }

    .tituloCards-equipe{
        padding: 0% 50%;
        margin-bottom: 10%;
    }
   
   .text-end{
        margin-right: 20%;
   }

   .card {
        --main-color: #000;
        --submain-color: #78858F;
        --bg-color: #fff;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        position: relative;
        width: 350px;
        height: 220px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 20px;
        background: var(--bg-color);
   }

   .colBanner .buttonConecta{
        padding: 4% 15%;
        margin-left: 10%;
        background-color: #FDB92E;
        border-radius: 2.5px;
        border: none;
        color: var(--cor-branco-light) ;
        cursor: pointer;
    }

    .colBanner{
        padding: 5% 0%;
        height: auto;
        z-index: 1000;
        margin-top: 15%;
    }


    .dropdownFiltro {
        position: fixed; /* permite posicioná-lo sobre os outros elementos */
        top: 0; /* posiciona no topo de .row-cards */
        background-color: var(--cor-fundo) !important;
        padding: 5% 15% 15% 15%;
        width: 300px;
        margin-bottom: -50%;
        margin-right: 80%;
        z-index: 2000;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* para dar destaque */
    }
    
   
}



























