
    
    @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

    body {
        margin: 0;
        padding: 0;
        background-color: var(--cor-fundo);
        font-family: Poppins, Roboto, Helvetica, Arial, sans-serif !important;
        font-weight: 300;
        font-size: 16px;
        overflow-x: hidden;
    }

    .text-content {
        font-size: inherit; 
    }

    /* TEMA LIGHT */
    :root, :root[data-theme='dark'] {
        ----cor-principal: #2e6b73;
        --cor-secundaria: #FFC107; 
        --cor-terciaria: #6C757D; 
        --cor-fundo: #FFFFFF; 
        --cor-fundo-maisclaro: #ffffff;
        --cor-preto-light: #000000; 
        --cor-branco-light: #ffffff; 
        --cor-sombra-preta-light: rgba(0, 0, 0, 0.05);
    }
    /* TEMA DARK */
    :root[data-theme='light'] {
        ----cor-principal: #2e6b73;
        --cor-secundaria: #FFC107;
        --cor-terciaria: #6C757D;
        --cor-fundo: #2f2f2f; 
        --cor-fundo-maisclaro: #555555;
        --cor-preto-light: #ffffff; 
        --cor-branco-light: #000000; 
        --cor-sombra-preta-light: rgba(255, 255, 255, 0.05);
    }

    /* ---------- NAVBAR ---------- */

   @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

   .bg-light {
       box-shadow: 0 4px 6px var(--cor-sombra-preta-light);
       background-color: transparent !important;
       z-index: 900;
   }

   .rowNavbar {
       height: 10vh;
       box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
   }

   .colLogo {
       display: flex;
       align-items: center;
       padding-left: 3%;
   }

   .colLogo img {
       width: 180px;
   }

   .nav-link {
       color: var(--cor-preto-light) !important;
       transition: color 0.3s ease;
   }

   .nav-link:hover {
       color: var(----cor-principal);
   }

   .buttonContatos {
       border: 1px solid var(----cor-principal);
       background: transparent;
       color: var(----cor-principal);
       padding: 8px 16px;
       font-size: 15px;
       text-align: center;
       transition: background-color 0.3s;
       width: 180px;
       border-radius: 10px !important;
       text-decoration: none;
   }

   .buttonContatos:hover {
       background-color: #bce2e747;
       color: var(----cor-principal);
       text-decoration: none;
   }

   .buttonPerfil{
       text-decoration: none;
       color: #fff;
       background-color: var(----cor-principal);
       padding: 8px 16px;
       font-size: 15px;
       border: none;
       text-align: center;
       width: 150px;
       border-radius: 10px !important;
   }

   .buttonPerfil:hover{
        text-decoration: none;
        color: #fff;
        background-color: var(----cor-principal);
        padding: 8px 16px;
        font-size: 15px;
        border: none;
        text-align: center;
        width: 150px;
   }

   #toggleTheme{
        color: var(----cor-principal);
        font-size: 1.4rem;
        margin-left: 1%;
        cursor: pointer;
   }

   .dropdown-menu{
        width: 20%;
        height: 40vh;
        left: 78%;
        background-color: var(--cor-fundo) !important;
        cursor: pointer;
   }

   .header-toggle{
        border: 1px solid var(----cor-principal);
        color: var(----cor-principal);
        padding: 5%;
        margin: 5% 5% 0% 5%;
        text-align: center;
   }

   .header-toggle span{
        color: var(----cor-principal);
    }


   .navbar-toggler {
       border: none; 
       padding: 0; 
   }

   .navbar-toggler:focus {
       outline: none; 
   }

   .navbar-toggler-icon {
       width: 30px; 
       height: 2px; 
       background-color: transparent; 
   }

   .navbar-toggler:before,
   .navbar-toggler:after,
   .navbar-toggler span {
       content: '';
       display: block;
       width: 30px; 
       height: 2px; 
       background-color: var(----cor-principal); 
       margin: 6px auto;
   }

   
   /* Para tablets */
   @media (max-width: 1100px) {
       .navbar-nav {
           align-items: center; 
           display: flex;
           justify-content: center;
       }

       .buttonExtras {
           position: absolute; 
       }

       .colLogo {
           display: flex;
           align-items: center;
           padding-left: 30%;
       }

       .buttonContatos {
           width: 200px;
           border: 1px solid var(----cor-principal);
           background: transparent;
           color: var(----cor-principal);
           padding: 8px 16px;
           font-size: 15px;
           text-align: center;
           transition: background-color 0.3s;
           margin-top: 2.5%;
           border-radius: 10px;
       }

       .buttonContatos:hover {
           background-color: var(----cor-principal);
           color: var(--cor-branco-light);
       }

       .buttonPerfil {
           width: 200px;
           color: var(--cor-branco-light);
           background-color: var(----cor-principal);
           padding: 8px 16px;
           font-size: 15px;
           border: none;
           text-align: center;
           margin-left: -1%;
           margin-top: 2.5%;
           margin-bottom: 5%;
           border-radius: 10px;
       }

       #toggleTheme{
        color: var(----cor-principal);
        font-size: 1.4rem;
        cursor: pointer;
        margin-right: 50%;
        margin-top: -7%;
        z-index: 1000;
      }
   }

   /* Para dispositivos móveis */
   @media (max-width: 576px) {
       .navbar-nav {
           align-items: center; 
           display: flex;
           justify-content: center;
       }

       .buttonExtras {
           position: absolute; 
       }

       .colLogo {
           display: flex;
           align-items: center;
           padding-left: 30%;
       }

       .buttonContatos {
           width: 200px;
           border: 1px solid var(----cor-principal);
           background: transparent;
           color: var(----cor-principal);
           padding: 8px 16px;
           font-size: 15px;
           text-align: center;
           transition: background-color 0.3s;
           margin-top: 2.5%;
           border-radius: 10px;
       }

       .buttonContatos:hover {
           background-color: var(----cor-principal);
           color: var(--cor-branco-light);
       }

       .buttonPerfil {
           width: 200px;
           color: var(--cor-branco-light);
           background-color: var(----cor-principal);
           padding: 8px 16px;
           font-size: 15px;
           border: none;
           text-align: center;
           margin-left: -1%;
           margin-top: 2.5%;
           margin-bottom: 5%;
           border-radius: 10px;
       }

       #toggleTheme{
            color: var(----cor-principal);
            font-size: 1.4rem;
            cursor: pointer;
            margin-right: 50%;
            margin-top: -10%;
            z-index: 1000;
        }
   }
   
    /* ---------- FIM NAVBAR ---------- */



    /* ---------- COMEÇO FOOTER --------------- */

    .footer{
        height: auto;
        min-height: 30vh;
        background-color: #2e6b73;
        padding: 0% 10%;
        color: #fff;
        text-decoration: none;
    }

    .colLogo-footer img {
        width: 70%;
    }

    .sites{
      text-align: center;
    }

    .sites a{
      text-decoration: none;
      color: #fff;
    }

    .btn-primary{
      background-color: #67a6ae;
      border: 1px solid #fff;
    }

    .btn-primary:hover{
      background-color: #67a6aed2;
      border: 1px solid #fff;
    }

    .a-footer{
      color: #fff;
      text-decoration: none;
    }

    .a-footer:hover{
        color: #fff;
        text-decoration: none;
    }

    /* ---------- FIM FOOTER --------------- */



    /* ---------- ALTERAR FONTE --------------- */

   .fixed-button {
        position: fixed;
        top: 35%;
        right: 0;
        transform: translateY(-50%);
        z-index: 800;
        padding: 8px 3px;
        background-color: #ffffff;
        border-radius: 5px 0 0 5px;
        text-decoration: none;
        font-size: 15px;
        transition: background-color 0.3s;
        cursor: pointer;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
         }
     
    .fixed-button button{
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    /* ---------- FIM ALTERAR FONTE --------------- */



   /* ----------- CSS CONTEUDO -------- */

   /* .carousel{
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 800;
    } */

    .rowConheca{
        margin-top: 5%;
        padding: 0% 10% 0% 7.5%;
        height: auto;
        color: var(--cor-preto-light) !important;
    }

    .colImg{
        justify-content: center;
        align-items: center;
        display: flex;
    }

    .rowConheca img{
        width: 100%;
        border-radius: 40px 0px 40px 0px;
    }

    .rowConheca h2{
        color: #2e6b73;
        font-size: 1.35rem;
        font-weight: 500;
    }

    .rowConheca h1{
        font-size: 2rem;
    }

    .rowConheca p{
        margin-bottom: 5%;
    }

    .rowConheca a{
        color: var(--cor-branco-light);
        background-color: #2e6b73;
        padding: 2% 4.5%;
        border-radius: 30px;
        text-decoration: none;
        margin-top: 5%;
    }


    .rowDuplo{
        background-color: #2e6b7328;
        margin-top: 6.5%;
        height: auto;
        padding: 6.5%;
    }

    .rowDuplo h1{
        font-size: 1.3rem;
    }

    .rowDuplo .cardUm{
        background-color: #2e6b73d6;
        height: auto;
        min-height: 40vh;
        color: #fff;
        padding: 5% 5% 5% 10%;
    }

    .colImg{
        justify-content: center;
        align-items: center;
        display: flex;
    }

    .colImg img{
        width: 80%;
    }

    .cardUm, .cardDois{
        border-radius: 30px;
    }

    .cardUm p, .cardDois p{
        margin-bottom: 10%;
    }

    .rowDuplo .cardDois{
        background-color: #2e6b73d6;
        height: auto;
        min-height: 40vh;
        color: #fff;
        padding: 5% 5% 5% 10%;
    }

    .cardUm a, .cardDois a{
        background: var(--cor-branco-light);
        color: #2e6b73;
        border-radius: 30px;
        padding: 5% 4.5%;
        text-decoration: none;
    }

    .rowServicos{
        height: auto;
        margin: 5% 5%;
        padding: 2.5%;
        height: auto;
        background-color: #2e6b7375;
        border-radius: 50px;
    }

    .colTitulo{
        text-align: center;
        color: var(--cor-branco-light);
    }

    .colTitulo img{
        width: 15%;
    }

    .colTitulo h1{
        font-size: 1.8rem;
        font-weight: 200;
    }


    .colTexto{
        color: var(--cor-branco-light);
    }

    .colTexto a{
        color: var(--cor-branco-light);
        border: 1px solid var(--cor-branco-light);
        padding: 2.5% 7.5%;
        margin-right: 5%;
        border-radius: 30px;
    }

  
.rowBanner{
    height: 60vh;
}

.jumbotron{
    padding: 7% 8%;
    width: 100%;
    height: auto;
    background: #2e6b73;
    color: var(--cor-branco-light);
}

.jumbotron h1{
    font-weight: 400;
    font-size: 2.2rem;
}

.jumbotron hr{
    color: var(--cor-branco-light);
    background: var(--cor-branco-light);
    margin-bottom: 100px;
}

.jumbotron p{
    font-size: 1.2rem;
    font-weight: 100;
}

.jumbotron a{
    margin-right: 2.5%;
    background-color: var(----cor-principal);
    border: 1px solid var(--cor-branco-light);
    font-weight: 100;
    border-radius: 20px;
    font-size: 1.1rem;
    color: var(--cor-branco-light);
    text-decoration: none;
    padding: 1% 3%;
}

.jumbotron a:hover{
    margin-right: 2.5%;
    background-color: #396e75;
    border: 1px solid var(--cor-branco-light);
    font-weight: 100;
    border-radius: 20px;
    font-size: 1.1rem;
    color: var(--cor-branco-light);
    text-decoration: none;
    padding: 1% 3%;
}


.rowContatos {
    font-family: 'Arial', sans-serif;
    background-color: #2e6b73b5;
    padding: 5% 15% 5% 15%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 5%;
}

.colContatos p {
    font-size: 1.1rem;
    color: #333;
    display: flex;
    margin-bottom: 15px;
}

.colContatos h1{
    margin-bottom: 5%;
    font-size: 1.7rem;
}

.colContatos i {
    font-size: 1.8rem;
    color: #fff;
    background-color: #2e6b73;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 15px;
    text-align: center;
    line-height: 40px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.rowContatos h2 {
    color: #333;
    font-size: 2rem;
    margin-bottom: 15px;
}

.social-icons a:hover {
    opacity: 0.8;
}

.social-icons i {
    font-size: 24px;
    margin: 0 10px;
    color: #2e6b73;
}

.social-icons a {
    display: inline-block;
    text-align: left !important;
    
}

.colRedes{
    text-align: center !important;
    background-color: #fff;
    border-radius: 20px;
}

.colRedes h2{
    font-size: 1.6rem;
}

.colRedes a{
    text-align: left !important;
}











